<div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
  <%# Leaderboard %>
  <div class="lg:col-span-1">
    <%= render "scoreboards/leaderboard", scoreboard_data: scoreboard_data %>
  </div>

  <%# Category Results %>
  <div class="lg:col-span-2 space-y-4">
    <h2 class="text-2xl font-bold text-white mb-4">Categories</h2>

    <% season_categories.each do |sc| %>
      <%= render "scoreboards/category_card", sc: sc, season: season, is_admin: is_admin %>
    <% end %>
  </div>
</div>
